div{
    background-color: rgba(127, 255, 212, 0.566);
    padding: 10px;
<<<<<<< HEAD
    margin-bottom: 10px; 
}
=======
    margin-bottom: 10px;
    
}
>>>>>>> bc5c0d2087ffa9c4edac66f93df04530aebbe54c
